<div fxFlex="grow">
  <div class="container" fxFlex="grow" fxLayoutGap="10px" fxLayout="column">
    <mat-card fxFill fxLayout="column">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
        <span class="title">Events and Sessions</span>
        <button mat-icon-button (click)="reload()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content fxFlex="grow">
        <div>
          <div class="mat-elevation-z2">
            <table mat-table [dataSource]="eventTableRows">
      
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Event Name</th>
                <td mat-cell *matCellDef="let element;"> {{ element.name }} </td>
              </ng-container>

              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef>Created</th>
                <td mat-cell *matCellDef="let element;"> {{ element.created | date:'medium' }} </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element;">
                  <button mat-icon-button (click)="onEventDeleteButtonClicked(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedEventColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedEventColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
          </div>
          <p fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab color="primary" (click)="onAddEventButtonClicked()">
              <mat-icon>add</mat-icon>
            </button>
          </p>
      </div>
      <div>
        <div class="mat-elevation-z2">
          <table mat-table [dataSource]="sessionTableRows">

            <ng-container matColumnDef="event">
              <th mat-header-cell *matHeaderCellDef>Event Name</th>
              <td mat-cell *matCellDef="let element;"> {{ element.event }} </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Session Name</th>
              <td mat-cell *matCellDef="let element;"> {{ element.name }} </td>
            </ng-container>
    
            <ng-container matColumnDef="password">
              <th mat-header-cell *matHeaderCellDef>Password</th>
              <td mat-cell *matCellDef="let element;"> {{ element.password }} </td>
            </ng-container>
    
            <ng-container matColumnDef="maxStudents">
              <th mat-header-cell *matHeaderCellDef>Max students</th>
              <td mat-cell *matCellDef="let element;"> {{ element.maxStudents }} </td>
            </ng-container>
    
            <ng-container matColumnDef="url">
              <th mat-header-cell *matHeaderCellDef>URL</th>
              <td class="hover-visible" mat-cell *matCellDef="let element;">
                {{ element.password | sessionUrl }}
                <button mat-icon-button (click)="onClipboardButtonClicked(element)">
                  <mat-icon>content_copy</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef>Created</th>
              <td mat-cell *matCellDef="let element;"> {{ element.created | date:'medium' }} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let element;">
                <button mat-icon-button (click)="onSessionDeleteButtonClicked(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedSessionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedSessionColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
        </div>
        <p fxLayout="row" fxLayoutAlign="end center">
          <button mat-fab color="primary" (click)="onAddSessionButtonClicked()">
            <mat-icon>add</mat-icon>
          </button>
        </p>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
