<mat-card fxFill fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
    <span class="title">Plot</span>
  </mat-card-title>
  <mat-card-content fxFlex="grow" fxLayout="row" fxLayoutAlign="space-around center">
    <svg #svg attr.viewBox="0 0 {{SVG.W}} {{SVG.H}}" preserveAspectRatio="xMidYMid meet">
      <g id="yAxisLabel" attr.transform="translate({{MARGIN.LEFT_YLABEL}}, {{MARGIN.TOP}}) rotate(-90)" text-anchor="end">
        <ng-content select="[yAxisLabel]"></ng-content>
      </g>
      <g id="contentArea" attr.transform="translate({{CONTENT_AREA.X}}, {{CONTENT_AREA.Y}})">
        <defs>
          <clipPath id="clip">
            <rect x="0" y="0" attr.width="{{CONTENT_AREA.W}}" attr.height="{{CONTENT_AREA.H}}"></rect>
          </clipPath>
        </defs>
        <g id="yAxis" #yAxis></g>
        <g id="xAxis" #xAxis attr.transform="translate(0, {{CONTENT_AREA.H}})"></g>
        <g id="mainArea" clip-path="url(#clip)">
          <line id="line" #line></line>
          <g id="dots" #dots></g>
        </g>
      </g>
      <g id="xAxisLabel" attr.transform="translate({{CONTENT_AREA.X + CONTENT_AREA.W}}, {{SVG.H - MARGIN.BOTTOM_TEXT}})" text-anchor="end">
        <ng-content select="[xAxisLabel]"></ng-content>
      </g>
    </svg>
  </mat-card-content>
</mat-card>
