<mat-card fxFill fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
    <span class="title">Results</span>
    <button mat-icon-button (click)="reloadButtonClicked()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content fxFlex="grow">
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="tableRows">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef><mat-checkbox [checked]="allSeletected()" [indeterminate]="someSelected()" (change)="allCheckboxClicked($event.checked)"></mat-checkbox></th>
          <td mat-cell *matCellDef="let element;"><mat-checkbox [checked]="element.selected" (change)="selectCheckboxClicked(element, $event.checked)"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="student">
          <th mat-header-cell *matHeaderCellDef>Student</th>
          <td mat-cell *matCellDef="let element;"> {{ element.student }} </td>
        </ng-container>

        <ng-container matColumnDef="dataset">
          <th mat-header-cell *matHeaderCellDef>Dataset</th>
          <td mat-cell *matCellDef="let element;"> {{ element.dataset - 1 }} </td>
        </ng-container>

        <ng-container matColumnDef="kaonMasses">
          <th mat-header-cell *matHeaderCellDef>Kaon Masses</th>
          <td mat-cell *matCellDef="let element;">
            [<span *ngFor="let item of element.k0; let lastElm = last;">{{ item | number:'1.3-3'}}<span *ngIf="!lastElm">,</span></span>]
          </td>
        </ng-container>

        <ng-container matColumnDef="lambdaMasses">
          <th mat-header-cell *matHeaderCellDef>Lambda Masses</th>
          <td mat-cell *matCellDef="let element;">
            [<span *ngFor="let item of element.lambda; let lastElm = last;">{{ item | number:'1.3-3'}}<span *ngIf="!lastElm">,</span></span>]
          </td>
        </ng-container>

        <ng-container matColumnDef="antiLambdaMasses">
          <th mat-header-cell *matHeaderCellDef>Anti-Lambda Masses</th>
          <td mat-cell *matCellDef="let element;">
            [<span *ngFor="let item of element.antilambda; let lastElm = last;">{{ item | number:'1.3-3'}}<span *ngIf="!lastElm">,</span></span>]
          </td>
        </ng-container>

        <ng-container matColumnDef="xiMasses">
          <th mat-header-cell *matHeaderCellDef>Xi Masses</th>
          <td mat-cell *matCellDef="let element;">
            [<span *ngFor="let item of element.xi; let lastElm = last;">{{ item | number:'1.3-3'}}<span *ngIf="!lastElm">,</span></span>]
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
