<div fxFlex="grow">
  <div class="container" fxFlex="grow" fxLayoutGap="10px" fxLayout="column">
    <app-mass-histograms [kaonMasses]="kaonMasses" [lambdaMasses]="lambdaMasses" [antiLambdaMasses]="antiLambdaMasses" [xiMasses]="xiMasses"></app-mass-histograms>
    <app-results
      [resultsData]="studentResults"
      (studentSelectedEvent)="onStudentSelected($event)"
      (allSelectedEvent)="onAllSelected($event)"
      (reloadClickedEvent)="onReload()"
      ></app-results>
  </div>
</div>