<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role="dialog">
    <div fxFill fxLayout="column">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list fxFlex="grow" fxLayout="column">
        <a mat-list-item routerLink="/session">Session</a>
        <h1 matSubheader>Strangeness</h1>
        <a mat-list-item routerLink="/strangeness-visual-analysis">Visual Analysis</a>
        <a mat-list-item routerLink="/strangeness-large-scale-analysis">Large Scale Analysis</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column">
      <div class="sticky">
        <app-cern-toolbar></app-cern-toolbar>
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>ALICE Masterclass Teacher</span>
        </mat-toolbar>
      </div>
      <router-outlet (activate)="onRouterActivate()"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
