<mat-card fxFill fxLayout="column">
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
    <span class="title">Results</span>
    <button mat-icon-button (click)="reloadButtonClicked()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content fxFlex="grow">
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="tableRows">

        <ng-container matColumnDef="centrality">
          <th mat-header-cell *matHeaderCellDef>Centrality</th>
          <td mat-cell *matCellDef="let element;"> {{ element.centrality | centralityName }} </td>
        </ng-container>

        <ng-container matColumnDef="nParticipants">
          <th mat-header-cell *matHeaderCellDef>No. participants</th>
          <td mat-cell *matCellDef="let element;"> {{ element.nParticipants }} </td>
        </ng-container>

        <ng-container matColumnDef="nEvents">
          <th mat-header-cell *matHeaderCellDef>No. events</th>
          <td mat-cell *matCellDef="let element;"> {{ element.nEvents }} </td>
        </ng-container>

        <ng-container matColumnDef="nKaons">
          <th mat-header-cell *matHeaderCellDef>No. K</th>
          <td mat-cell *matCellDef="let element;"> <em>{{ element.nKaons | number:'1.1-1' }}</em> </td>
        </ng-container>

        <ng-container matColumnDef="effKaons">
          <th mat-header-cell *matHeaderCellDef>Efficiency K</th>
          <td mat-cell *matCellDef="let element;"> {{ element.effKaons | number:'1.3-3' }} </td>
        </ng-container>

        <ng-container matColumnDef="yieldKaons">
          <th mat-header-cell *matHeaderCellDef>Yield K</th>
          <td mat-cell *matCellDef="let element;"> {{ element.yieldKaons | number:'1.3-3' }} </td>
        </ng-container>

        <ng-container matColumnDef="enhKaons">
          <th mat-header-cell *matHeaderCellDef>Enhancement K <span class="dot kaon"></span> </th>
          <td mat-cell *matCellDef="let element;"> <strong>{{ element.enhKaons | number:'1.3-3' }}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="nLambdas">
          <th mat-header-cell *matHeaderCellDef>No. L</th>
          <td mat-cell *matCellDef="let element;"> <em>{{ element.nLambdas | number:'1.1-1' }}</em> </td>
        </ng-container>

        <ng-container matColumnDef="effLambdas">
          <th mat-header-cell *matHeaderCellDef>Efficiency L</th>
          <td mat-cell *matCellDef="let element;"> {{ element.effLambdas | number:'1.3-3' }} </td>
        </ng-container>

        <ng-container matColumnDef="yieldLambdas">
          <th mat-header-cell *matHeaderCellDef>Yield L</th>
          <td mat-cell *matCellDef="let element;"> {{ element.yieldLambdas | number:'1.3-3' }} </td>
        </ng-container>

        <ng-container matColumnDef="enhLambdas">
          <th mat-header-cell *matHeaderCellDef>Enhancement L <span class="dot lambda"></span> </th>
          <td mat-cell *matCellDef="let element;"> <strong>{{ element.enhLambdas | number:'1.3-3' }}</strong> </td>
        </ng-container>

        <ng-container matColumnDef="nAntiLambdas">
          <th mat-header-cell *matHeaderCellDef>No. AL</th>
          <td mat-cell *matCellDef="let element;"> <em>{{ element.nAntiLambdas | number:'1.1-1' }}</em> </td>
        </ng-container>

        <ng-container matColumnDef="effAntiLambdas">
          <th mat-header-cell *matHeaderCellDef>Efficiency AL</th>
          <td mat-cell *matCellDef="let element;"> {{ element.effAntiLambdas | number:'1.3-3' }} </td>
        </ng-container>

        <ng-container matColumnDef="yieldAntiLambdas">
          <th mat-header-cell *matHeaderCellDef>Yield AL</th>
          <td mat-cell *matCellDef="let element;"> {{ element.yieldAntiLambdas | number:'1.3-3' }} </td>
        </ng-container>

        <ng-container matColumnDef="enhAntiLambdas">
          <th mat-header-cell *matHeaderCellDef>Enhancement AL <span class="dot antilambda"></span> </th>
          <td mat-cell *matCellDef="let element;"> <strong>{{ element.enhAntiLambdas | number:'1.3-3' }}</strong> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator> -->
    </div>
  </mat-card-content>
</mat-card>
