table {
  width: 100%;
}

.dot {
  height: 14px;
  width: 14px;
  vertical-align: bottom;
  border-radius: 50%;
  display: inline-block;
}

.kaon {
  background-color: var(--kaon-color);
}

.lambda {
  background-color: var(--lambda-color);
}

.antilambda {
  background-color: var(--antilambda-color);
}