<mat-dialog-content>
  Are you sure?
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button [mat-dialog-close]="true" color="primary">Yes</button>
	<button mat-raised-button [mat-dialog-close]="false" tabindex="-1">No</button>
</mat-dialog-actions>
